#header-nav {
    background-color: grey;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-toggle {
    position: relative;
    float: right;
    border: 1px solid transparent;
    background-color: transparent;
    margin-right: 25px;
}

h2 {
    padding-bottom: 15px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 15px;
}

.container-fluid {
    padding: 0;
}

.chicken,
.beef,
.sushi {
    background-color: gray;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
}

button:after {
    clear: both;
}

ul {
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}

li {
    background-color: #fff !important;
    padding: 5px;
    border-bottom: 2px solid #000;
}

.navbar {
    padding-bottom: 0px;
    margin-bottom: 0.5em;
}

.fa-bars:before {
    display: block;
    color: #fff;
    border: #fff solid 1px;
    font-size: 1.5em !important;
    padding: 0px 2px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (min-width: 768px) {
    .fa-bars:before {
        display: none;
    }
}